@charset "UTF-8";

html {
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    background-color: black;
}

* {
    margin: 0 0 0 0;
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    background-color: black;
    position: relative;
}

.scroll-header{
	margin-bottom: 50px;

	}

.wrapper{
	text-align: center;
	padding-top: 20px;
    margin: 20px auto 10px auto;
    background-color: white;
    border-radius: 18px;
    max-width: 95%;
}

/* 見出し */
.headline{
    font-size: 32px;
	margin-top: 20px;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

p {
	width: 100%;
	color: black;
	font-size: 15px;
	font-weight: bolder;
}

.button-position{
    display: flex;
    align-items: center;

}

.button-center{
    display: flex;
	margin: 0 auto;
}

.button{
	width: 145px;
    margin: 20px 0 20px 27px;
    display: inline-block;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px 35px;
    background: rgba(0, 0, 102, 0.92);
    color: white;
    line-height: 1em;
    transition: .3s;
    border: 2px solid rgba(0, 0, 102, 0.92);
    text-decoration: none;
}

.button:hover{
    color: rgba(0, 0, 102, 0.92);
    background: white;
}

a:link {
	color: #003a8f;
	text-decoration: none;
}

a:visited {
	color: #003a8f;
	text-decoration: none;
}

a:hover {
	color: #003a8f;
	text-decoration: none;
	/* 透明度 */
	opacity: 0.7;
}

a:active {
	color: rgba(0, 0, 102, 0.92);
	text-decoration: none;
}

.copyright {
	color: darkgray;
	margin-right: 30px;
	margin-top: 5px;
	text-align: center;
}