.main {
	padding-bottom: 7px;
}
/* ribbon icon [s] width */
@media only screen and (max-width: 734px) {
	.ribbon .icon {
		max-width: 300px;
		width: 100%;
		margin-top: 6px;
	}
	.ribbon .section-content {
		padding-bottom: 13px;
	}
}
