@charset "UTF-8";
/* headerに適用される */

.header{
	display: flex;
}

.login {
	width: 20%;
	text-align: right;
	margin: 10px 3%;
}
 .button{
	text-align: center;
}
.signup {
	width: 20%;
	text-align: center;
	margin: auto;
}
.login input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 80%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.login input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 80%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.txtback input[type='text']:focus {
	border: 1px solid #000080;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(0,0,128,1);
}
.txtback input[type='password']:focus {
	border: 1px solid #000080;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(0,0,128,1);
}

.headerMenu{
	width: 30%;
	display:flex;
	justify-content: space-between;
	padding: 0 20px;
}
.headerMenu img{
	height: auto;
	width: 50px;
}
.signup img{
		height: auto;
	width: 50px;
}

