@charset "UTF-8";
/* すべてのWebページに適用される */
html {
	font-family: "游ゴシック",;
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: white;
	text-align: center;

}

html * {
	box-sizing: border-box;
	font-family: font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

	background-color: white;
}

hr{
	margin: 4px;
	margin-bottom: 2px;
}

p {
	width: 100%;
	color: black;
}

body {
	top: 0;
	margin: 0 120px;
	padding-top: 20px;
	height: 100%;
	color: black;
}

h1 {
	margin: 0;
	font-size: 40px;
	color: black;
	margin-left: 10px;
	margin-top: 20px;
	font-family: "HG正楷書体-PRO";
	letter-spacing: 2px;
}

.logo{
	text-align: left;
}

.wrapper {
	padding: 20px 10px 50px 10px;
	margin: auto;
}

img {
	max-width: 100%;
	height: auto;
}

a:link {
	color: #003a8f;
	text-decoration: none;
}

a:visited {
	color: #003a8f;
	text-decoration: none;
}

a:hover {
	color: #003a8f;
	text-decoration: none;
	/* 透明度 */
	opacity: 0.7;
}

a:active {
	color: #003a8f;
	text-decoration: none;
}

.button {
	display: inline-block;
	border-radius: 5%; /* 角丸       */
	font-size: 12pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	color: black; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	margin: 9px 20px;
	width: 50%;
    min-width: 200px;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;

}

.button:hover {
	box-shadow: none; /* カーソル時の影消去 */
}

.txt {
	position: relative;
	width: 65%;
	margin: auto;
}

.txt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 40%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.txt input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 40%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.txt input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 40%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.txt select[name='genre'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 20%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.alert {
	margin: 0;
	color: red;
	opacity: 0;
}

.headline {
	position: relative;
	padding-top: 60px;
	padding-bottom: 10px;
	font-size: 16px;
	text-align: center;
}

.headline span {
	position: relative;
	z-index: 2;
}

.headline::before {
	content: attr(data-en);
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(0, 0, 128, 0.4);
	font-size: 50px;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
		"Meiryo", "verdana", sans-serif;
}

.detailContents {
	width: 50%;
	margin: auto;
	padding: 0 20px;
}

.detailImg {
	width: 40%;
	margin: auto;
}

.detailImg img {
	width: 50%;
	margin: auto;
}

.product img {
	height: auto;
	width: 100px;
}

.detailWrapper {
	padding: 20px 30px 50px 30px;
	display: flex;
	flex-wrap: wrap; /* 折返し指定 */
	gap: 20px;
}

.rec img {
	height: auto;
	width: 150px;
}

.rec {
	display: flex;
	flex-wrap: wrap; /* 折返し指定 */
	gap: 5px;
}

.rec-item {
	width: 24%;
}

footer{
	color: #003a8f;
	padding-bottom: 10px;
}
table{
	margin:auto;
}

.purchaseGroup{
	display : flex;
	flex-wrap: wrap; /* 折返し指定 */
	gap: 5px;
	margin: auto;
}
.purchaseImg{
	width: 50%;
	padding-left: 25%;
}
.purchaseImg img {
	height: auto;
	width: 100px;
}

.purchaseName{
	width: 30%;
	margin: auto;
	margin-left: 0;
}
.back{
	margin-top: 20px;
}

/*cart.jsp*/
.button-position{
	display: flex;
	justify-content:center;
	}

.totalPrice{
	margin-left: 10px;
	text-align: left;
}